
<div class="col-md-4 col-sm-3 placeholder">
	<svg width="200" height="200" class="img-fluid rounded-circle"
		alt="Generic placeholder thumbnail">
              	<circle cx="100" cy="100" r="100" fill="steelblue" /> </svg>
	<h4>Label</h4>
	<span class="text-muted">Something else</span>
</div>


<div class="col-md-4 col-sm-8 placeholder">
	<div simple-line-chart></div>
</div>
<!-- <div id="container" class="col-md-6 col-sm-3 svg-container"> -->
<div class="col-md-4 col-sm-8 placeholder">
	<div simple-bar-chart></div>
</div>


